venv
results
legalbert-finetuned1
fortestrandoms.py
bart-finetuned1
bart-finetuned2
data_bart
data_legbert
segmentcase.py
segmented_case_file.json
segmented_case_output.json
train_dataset.json
test.py
test_dataset.json
final_dataset.json
try1.py
testing.py
finetunelegalbert.py
preparingdataset.py
splitdataleg.py
classification_model
extractive_model