venv
results
legalbert-finetuned1
fortestrandoms.py
bart-finetuned1
bart-finetuned2
data_bart
data_legbert
classification_model
extractive_model
trails
.idea
data/data_metric/segmented_case
data/data_metric/segmented_case2
data/data_metric/segmented_summ
data/data_metric/segmented_summ2
data/data_metric/whole_case
data/data_metric/whole_summ